---
- name: "Include {{ ansible_os_family }} task"
  include: "debian.yml"
  when:
  - ansible_os_family == "Debian"

- name: "Include {{ ansible_os_family }} task"
  include: "redhat.yml"
  when:
  - ansible_os_family == "RedHat"

- name: "Generate configuration for Telegraf"
  template:
    src: "telegraf.conf.j2"
    dest: "/etc/telegraf/telegraf.conf"
    mode: 0644

- name: "Generate configuration for InfluxDB"
  template:
    src: "influxdb.conf.j2"
    dest: "/etc/influxdb/influxdb.conf"
    mode: 0644

- name: "Start and enable services"
  service:
    name: "{{ item }}"
    state: "started"
    enabled: "yes"
  loop:
    - "telegraf"
    - "influxdb"

- name: "Create datasource InfluxDB"
  grafana_datasource:
    name: "InfluxDB at {{ ansible_host }}"
    grafana_url: "{{ grafana_url }}"
    grafana_user: "{{ grafana_user }}"
    grafana_password: "{{ grafana_password }}"
    org_id: "1"
    ds_type: "influxdb"
    ds_url: "http://{{ ansible_host }}:8086"
    database: "{{ influxdb_base }}"
    user: "{{ influxdb_user }}"
    password: "{{ influxdb_pass }}"
